<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
        <div class="header__contact">
				<a class="header__contact-email" href="mailto:penzion@uvody.cz">penzion@uvody.cz</a>
				<span class="header__contact-phone">Tel. +420 123 456 789</span>
			</div>

			<div class="header__inner">
				<div class="header__left">
					<div class="header__logo">Penzion u vody</div>

					<div class="header__address">
						<img class="header__stars" src="images/3stars.svg" alt="3 hvězdičky">
						Ulice 42, Městečko
					</div>
				</div>

				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item"><a href="/index.html" class="menu__link">Úvod</a></li>
						<li class="menu__item"><a href="/pokoje.html" class="menu__link">Pokoje</a></li>
						<li class="menu__item"><a href="/vybaveni.html" class="menu__link">Vybavení</a></li>
						<li class="menu__item"><a href="/galerie.html" class="menu__link">Galerie</a></li>
						<li class="menu__item"><a href="/kontakt.html" class="menu__link">Kontakt</a></li>
					</ul>
				</nav>
			</div>

			<div class="header__image"></div>
    </header>

    <main>
      <ul>
        {%- for post in collections.main -%}
          <li>{{ post.data.title }}</li>
        {%- endfor -%}
      </ul>
      {{ content | safe }}
    </main>

    <footer>&copy; 2024, Dice-Sensei</footer>
  </body>
</html>